.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 150px;
  padding: 10px;
}

.DiaryEditor textarea {
  width: 500px;
  height: 150px;
}

.DiaryEditor select {
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 150px;
  padding: 10px;
  cursor: pointer;
}

/* DiaryList */

.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList h2 {
  text-align: center;
}

/* DiaryItem */

.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 15px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: gray;
}

.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.DiaryItem .content textarea {
  width: 500px;
  height: 80px;
}
